[Unit]
Description=ssh tunnel to backup master
After=network-online.target

[Service]
Type=simple
User=remote_backup
ExecStart=/usr/bin/autossh -N -R 30121:localhost:22 backup-master.3sd.ec2 

[Install]
WantedBy=multi-user.target
