[Unit]
Description=Keeps a tunnel to 'backup-master.{{ private_domain }}' open
After=network-online.target

[Service]
Type=simple
User={{ ssh_user }}
ExecStart=/usr/bin/autossh -N -q -R {{ ssh_port }}:backup-master.{{ private_domain }}:22 -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3"

[Install]
WantedBy=multi-user.target
