PITDIR={{ backup_pit }}
FREQUENCY={{ item.name }}
UNTIL={{ item.until }}
TIME=`date +%Y%m%d-%H%M`
SOURCEDIR={{ backup_snap }}*
DESTDIR=$PITDIR$FREQUENCY/$TIME
mkdir -p $DESTDIR
cp -al $SOURCEDIR $DESTDIR
find $PITDIR$FREQUENCY -mindepth 1 -maxdepth 1 -type d -not -newermt -$UNTIL-5minutes -exec rm -r {} \;
