{% for item in backed_up_hosts %}
rsync -a --delete --rsync-path "sudo rsync" {% if item.port is defined %}-e "ssh -p {{ item.port }}" {% endif %}{{ item.user|default('ubuntu') }}@{{ item.host }}:/srv/backup/snap/ /srv/backup/hosts/{{ item.name }}
{% endfor %}
