{% for item in backed_up_hosts %}
rsync --archive --delete --rsync-path "sudo rsync" {% if item.port is defined %}-e "ssh -p {{ item.port }}" {% endif %}remote_backup@{{ item.host }}:/srv/backup/snap/ /srv/backup/snap/hosts/{{ item.name }}
{% endfor %}
